#hero {
    max-width: 80rem;
    width: 100%;
    padding: 2.5rem 2rem;
    margin-inline: auto;

    display: flex;
    align-items: center;
    overflow: hidden;

    & h1 {
    max-width: 40rem;
    }

    & h1 div {
        display: inline-block;
        overflow: hidden;
        height: 5rem;
        width: min-content;
        vertical-align: bottom;
    }

    & h1 span:nth-child(1),
    & h1 span:nth-child(4) {
        color: var(--blue);
    }

    & h1 span:nth-child(2) {
        color: var(--pink);
    }

    & h1 span:nth-child(3) {
        color: var(--green);
    }

    & h1 span {
        display: block;
        animation: slideUp 6s infinite ease;
    }

    & .buttons {
        display: flex;
        gap: 2rem;
        margin-top: 3rem;

        & .btn {
            display: flex;
            align-items: center;
            gap: .75rem;

            border-radius: 5rem;

            transition: scale 350ms;

            text-transform: uppercase;

            &.buy {
                padding: 1.5rem 3rem;
                background-color: var(--yellow);
            }

            &.play span {
                display: flex;
                padding: 1.5rem;
                border-radius: 50%;
                background-color: white;
            }

            &:hover {
                scale: 1.1;
            }
        }
        
        & .shadow {
            box-shadow: 
            0 2px 5px rgb(0 0 0 / .1),
            0 9px 9px rgb(0 0 0 / .09),
            0 20px 12px rgb(0 0 0 / .05),
            0 36px 15px rgb(0 0 0 / .01);
        }
    }

    & > div:nth-child(2) {
        display: block;
        width: 100%;
        max-width: 30.5rem;
        height: 30.5rem;
        border: 2px deeppink solid;

        & .content {
            width: 100%;
            height: 100%;
            position: relative;
        }

        & img {
            position: absolute;
            width: 100%;
        }

        & img[src*="ellipse"] {
            width: 94%;
            top: 3%;
            left: 3%;
        }

        & img[src*="patins"] {
            z-index: 1;
        }

        & img[src*="stars-1"] {
            max-width: 5.5rem;
            top: 30%;
            z-index: 0;
        }

        & img[src*="stars-2"] {
            max-width: 2.5rem;
            top: 50%;
            right: 0;
            z-index: 0;
        }
    }
}

@keyframes slideUp {
    0%, 22% {
        transform: translateY(0);
    }

    23% {
        transform: translateY(calc(-5rem - 15px));
    }

    25% {
        transform: translateY(calc(-5rem + 10px));
    }

    27% {
        transform: translateY(calc(-5rem - 5px));
    }

    29% {
        transform: translateY(calc(-5rem + 5px));
    }

    33%, 55% {
        transform: translateY(-5rem);
    }

    56% {
        transform: translateY(calc(-10rem - 15px));
    }

    58% {
        transform: translateY(calc(-10rem + 10px));
    }

    60% {
        transform: translateY(calc(-10rem - 5px));
    }

    62% {
        transform: translateY(calc(-10rem + 5px));
    }

    66%, 88% {
        transform: translateY(-10rem);
    }

    89% {
        transform: translateY(calc(-15rem - 15px));
    }

    91% {
        transform: translateY(calc(-15rem + 10px));
    }

    93% {
        transform: translateY(calc(-15rem - 5px));
    }

    95% {
        transform: translateY(calc(-15rem + 5px));
    }

    100% {
        transform: translateY(-15rem);
    }
}

@media (width < 70em) {
    #hero {
        display: grid;
        padding-inline: 1.5rem;
        justify-content: center;

        & h1 div {
            display: inline-block;
            overflow: hidden;
            height: 2.5rem;
            width: min-content;
            vertical-align: bottom;
        }

        & .buttons {
            display: grid;
            gap: 1.5rem;

            & .btn {
                max-width: 17.6875rem;
                width: 100%;

                &.play {
                    display: none;
                }

                &:hover {
                    scale: 1.05;
                }
            }

            & .btn-2 {
                display: flex;
                align-items: center;
                gap: .75rem;

                border-radius: 5rem;

                transition: scale 350ms;

                text-transform: uppercase;

                &.play-2 span {
                    display: flex;
                    padding: 1.5rem;
                    border-radius: 50%;
                    background-color: white;
                }

                &:hover {
                    scale: 1.05;
                }
            }
        }
    }

    @keyframes slideUp {
    0%, 22% {
        transform: translateY(0);
    }

    23% {
        transform: translateY(calc(-2.5rem - 10px));
    }

    25% {
        transform: translateY(calc(-2.5rem + 5px));
    }

    27% {
        transform: translateY(calc(-2.5rem - 2px));
    }

    29% {
        transform: translateY(calc(-2.5rem + 2px));
    }

    33%, 55% {
        transform: translateY(-2.5rem);
    }

    56% {
        transform: translateY(calc(-5rem - 10px));
    }

    58% {
        transform: translateY(calc(-5rem + 5px));
    }

    60% {
        transform: translateY(calc(-5rem - 2px));
    }

    62% {
        transform: translateY(calc(-5rem + 2px));
    }

    66%, 88% {
        transform: translateY(-5rem);
    }

    89% {
        transform: translateY(calc(-7.5rem - 10px));
    }

    91% {
        transform: translateY(calc(-7.5rem + 5px));
    }

    93% {
        transform: translateY(calc(-7.5rem - 2px));
    }

    95% {
        transform: translateY(calc(-7.5rem + 2px));
    }

    100% {
        transform: translateY(-7.5rem);
    }
}
}